/* RC3 2021 banner style*/

section.useclass-banner.decoration-banner-style-rc3-2021 {
	background-image: url("/assets/banner_rc3-2021/background.jpg");
	background-color: #333;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

section.useclass-banner.decoration-banner-style-rc3-2021 > p, section.useclass-banner.decoration-banner-style-rc3-2021 > a {
	background-image: url("/assets/banner_rc3-2021/grid.png");
	background-size: 100% 100%;
	background-position: center center;
	color: #eee;
	text-shadow: 0 0 .2em #000;
}
