:root {
	/*Define colors that will be used*/
	--c-page-background: #000;
	--c-dark-slate: #181818;
	--c-medium-slate: #222;
	--c-light-slate: #333;
	
	--c-bright-text: #fff;
	--c-normal-text: #ccc;
	--c-dark-text: #aaa;
	
	--c-accent-dark: #ce5c00;
	--c-accent-light: #cb980a;
	--c-accent-secondary: #859900;
	
	--heading-background-image: url("/assets/site_slatecave/banner.png");
	
	/*NOTE: DO NOT USE THE COLORS ABOVE OUTSIDE OF THE COLOR DEFINITIONS BELOW!!*/
}

@media (prefers-color-scheme: light) {
	:root {
		/*Define colors that will be used*/
		--c-page-background: #fdf6e3;
		--c-dark-slate: #eee8d5;
		--c-medium-slate: #eee8d5;
		--c-light-slate: #eee8d5;
		
		--c-bright-text: #002b36;
		--c-normal-text: #586e75;
		--c-dark-text: #657b83;
		
		--c-accent-light: #2aa198;
		--c-accent-dark: #cb4b16;
		--c-accent-secondary: #859900;
		
		--heading-background-image: url("/assets/site_slatecave/banner_light.png");
		/*NOTE: DO NOT USE THE COLORS ABOVE OUTSIDE OF THE COLOR DEFINITIONS BELOW!!*/
	}
}

@media print {
:root {
		/*Define colors that will be used*/
		--c-page-background: #fff;
		--c-dark-slate: #fff;
		--c-medium-slate: #fff;
		--c-light-slate: #fff;
		
		--c-bright-text: #000;
		--c-normal-text: #111;
		--c-dark-text: #444;
		
		--c-accent-dark: #ce5c00;
		--c-accent-light: #9c4500;
		--c-accent-secondary: #2D5903;
		
		--heading-background-image: none;
		/*NOTE: DO NOT USE THE COLORS ABOVE OUTSIDE OF THE COLOR DEFINITIONS BELOW!!*/
	}
}

:root {
	/*Assign those colors a purpose*/
	--page-background: var(--c-page-background);
	--page-foreground: var(--c-normal-text);
	--page-link: var(--c-accent-light);
	--page-link-visited: var(--c-accent-secondary);
	--page-link-border-radius: .05rem;
	--page-focus-outline: .2rem solid var(--c-accent-light);
	--page-focus-outline-offset: .05rem;
	--page-font: 1em Noto Sans, sans-serif;
	--page-padding: 0 10%;
	
	
	--section-border-radius: .2rem;
	--section-margin: .75rem;
	--section-padding: 1rem;
	--section-padding--reverse: -1rem;
	--section-background: var(--c-medium-slate);
	--section-foreground-section-title: var(--c-accent-dark);
	--section-foreground-title: var(--c-bright-text);
	
	--section--footer-foreground: var(--c-dark-text);
	
	--heading-margin: var(--section-margin);
	--heading-font: 2rem Noto Sans Mono, serif;
	
	--section-background-pre: var(--c-dark-slate);
	--section-font-pre: 1rem Noto Sans Mono, sans-serif;
	
	--section-background-figure: var(--c-dark-slate);
	--section-padding-figure: .5rem var(--section-padding);
	--section-margin-figure: 0 -1rem; /*reverse section padding*/
	--section-border-radius-figure-content: var(--section-border-radius);
	--section-padding-figure-caption: 0;
	
	--section-media-width: 90ch;
	
	--section-image-gallery-item-height: 12rem;
	--section-image-gallery-item-margin: .1rem;
	--section-image-gallery-item-border-radius: var(--section-border-radius);
	--section-image-gallery-justify-content: start;
	
	--section--banner-margin: var(--section-margin);
	--section--banner-border-radius: var(--section-border-radius);
	
	--big-banner-font: 4rem Noto Sans Mono, bold, sans-serif;
	--big-banner-background-color: var(--c-light-slate);
	--big-banner-color: var(--c-bright-text);
	--big-banner-padding: 1rem 1ch;
	
	--article-nav-margin: var(--section-margin);
}

/* Styling for small screens */
@media (max-width: 140ch) {
	:root {
		--page-padding: 0;
		--section--banner-margin: 0;
		--section--banner-border-radius: 0;
		
		--section-padding-figure-caption: .5rem;
		--section-padding-figure: 0;
		--section-border-radius-figure-content: 0;
		
		--section-image-gallery-item-width: 32%;
		--section-image-gallery-item-height: unset;
		--section-image-gallery-justify-content: center;
		
		--section-padding-pre: 1vw;
		
		--big-banner-font: 3rem Noto Sans Mono, bold, sans-serif;
	}
}

@media (max-width: 90ch) {
	:root {
		--section-image-gallery-item-width: 48%;
		--big-banner-font: 2rem Noto Sans Mono, bold, sans-serif;
	}
}

@media print {
	:root {
		--page-link: var(--c-dark-text);
		--page-link-visited: var(--c-dark-text);
		
		--section-foreground-title: var(--c-bright-text);
		--section-foreground-section-title: var(--c-bright-text);
		--section-section-title-underline: 2px solid var(--c-bright-text);
		--heading-underline: 2px solid var(--c-bright-text);
		
		--big-banner-font: 3rem Noto Sans Mono, bold, sans-serif;
	}
	
	/*No global navigation needed when printing on non Interactive media, just a waste of space and ink*/
	body > header, article > nav {
		display: none;
	}
	
}

/*General Fixes*/

/** Always hide picture overflow **/
picture {
	overflow: hidden;
	break-inside: avoid;
}

/** Fix images inside picture elements **/
picture > img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

dd > p {
	margin: 0;
	padding: 0;
}

dd > a {
	text-decoration: none;
	word-break: break-all;
	overflow-wrap: break-word;
}

/**Fix headings inside of summary tags**/
summary > h2, summary > h3 {
	display: inline;
}

*:focus {
	outline: var(--page-focus-outline);
	outline-offset: var(--page-focus-outline-offset);
}

nav, body {
	margin: 0;
	padding: 0;
}

/*Skiplinks for Screenreaders and keyboard users*/
a.decoration-skiplink {
	opacity: 0;
	font-size: 0em;
	margin: 0;
	padding: 0;
}

a.decoration-skiplink:focus {
	opacity: 1;
	font-size: 1em;
}

header > nav > a.decoration-skiplink:focus {
	margin: var(--heading-margin);
}

/*Style links in lists*/
li a {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
}

/*General page styling*/

body {
	background: var(--page-background);
	color: var(--page-foreground);
	font: var(--page-font);
	padding: var(--page-padding);
}

a {
	color: var(--page-link);
	border-radius: var(--page-link-border-radius);
}

a:visited {
	color: var(--page-link-visited);
}

a:hover > picture:only-child {
	left: -1rem;
	right: -1rem;
}

h1, a.decoration-sitename {
	border-radius: var(--heading-border-radius);
	margin: var(--heading-margin);
	padding: var(--heading-padding);
	background: var(--heading-background);
	color: var(--heading-foreground);
	border-bottom: var(--heading-underline);
	font: var(--heading-font)
}

h1 > a, a.decoration-sitename {
	text-decoration: none;
}

/* Style definition lists */

dt {
	float: left;
	font-weight: bold;
}

dt::after {
	content: ":";
	margin-right: 1ch; /*Acts like a space following the colon*/
}

dd {
	margin-left: 12ch;
}

/*General section styling*/

article > section, footer > section, header > section {
	border-radius: var(--section-border-radius);
	margin: var(--section-margin);
	padding: var(--section-padding);
	padding-top: .3rem; /* Fixed amount of less padding for title*/
	background: var(--section-background);
	color: var(--section-foreground);
}

footer {
	border: var(--section--footer-border);
	border-radius: var(--section--footer-border-radius);
	margin: var(--section--footer-margin, var(--section-margin));
	padding: var(--section--footer-padding, var(--section-padding));
	background: var(--section--footer-background);
	color: var(--section--footer-foreground, inherit);
}

article > p {
	margin: var(--section-margin);
	padding: var(--section-padding);
}

/*Remove uneccessary bottom margin for last element, section padding will do*/
section > *:last-child {
	margin-bottom: 0;
}

/* General section header styling*/
section > h2 {
	color: var(--section-foreground-section-title);
	margin: .3rem 0;
	border-bottom: var(--section-section-title-underline);
}

section > h3, section > h4, section > h5 {
	color: var(--section-foreground-title);
	border-bottom: var(--section-title-underline);
}

/*General section preformatted block styling*/
pre, figure > code, figure > samp {
	display: block;
	border-radius: var(--section-border-radius-pre);
	margin: var(--section-margin-pre);
	padding: var(--section-padding-pre);
	background: var(--section-background-pre);
	color: var(--section-foreground-pre);
	overflow: scroll;
	scrollbar-color: var(--section-foreground-pre, var(--page-foreground)) var(--section-background-pre);
	break-inside: avoid;
}

/*General section figure styling*/

section > figure {
	border-radius: var(--section-border-radius-figure);
	margin: var(--section-margin-figure);
	padding: var(--section-padding-figure);
	background: var(--section-background-figure);
	color: var(--section-foreground-figure);
}

section > figure:last-child {
	margin-bottom: -1rem;
	border-bottom-left-radius: var(--section-border-radius);
	border-bottom-right-radius: var(--section-border-radius);
}

section > figure picture {
	display: block;
	max-width: var(--section-media-width);
	border-radius: var(--section-border-radius-figure-content);
}

section > figure > figcaption {
	padding: var(--section-padding-figure-caption);
}


/*Banner Section styling*/

section.useclass-banner {
	background: unset;
	padding: 0;
	margin: var(--section--banner-margin);
	background-color: var(--big-banner-background-color);
	font: var(--big-banner-font);
	color: var(--big-banner-color);
	border-radius: var(--section--banner-border-radius);
	overflow: hidden;
}

section.useclass-banner picture {
	display: block;
	margin: 0;
	padding: 0;
}

section.useclass-banner picture > img {
	width: 100%;
	object-fit: cover;
}

/* Big banner paragraph */

section.useclass-banner > a {
	text-decoration: none;
	color: var(--page-color);
}

section.useclass-banner > p, section.useclass-banner > a {
	text-align: center;
	padding: var(--big-banner-padding);
	margin: 0;
}

section.useclass-banner > p:empty {
	min-height: 1.4em;
}

/* article navigation */

article > nav {
	border-radius: var(--article-nav-border-radius);
	margin: var(--article-nav-margin);
	padding: var(--article-nav-padding);
	background: var(--article-nav-background);
	color: var(--article-nav-foreground);
}

article > nav.alternatives > ul {
	display: inline;
	padding: 0;
}

/*License Icon*/
picture.decoration-license-icon {
	float: right;
	height: 3em;
}

/*Gallery Styling*/

figure.image-gallery > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
	padding: .5rem 0;
	margin: 0;
	justify-content: var(--section-image-gallery-justify-content);
	break-before: always;
	break-after: always;
}

figure.image-gallery > ul > li {
	display: block;
	margin: var(--section-image-gallery-item-margin);
	border-radius: var(--section-image-gallery-item-border-radius);
	width: var(--section-image-gallery-item-width);
}

figure.image-gallery > ul picture{
	height: var(--section-image-gallery-item-height);
}

/*Header Styling*/

header > nav > * {
	display: block;
	margin: var(--heading-margin);
	padding: var(--heading-padding);
}

header > nav {
	background-image: var(--heading-background-image);
	background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

picture.page-icon {
	position:absolute;
	top: 0;
	right: 0;
	height: 6rem;
}

nav > ul > li {
	display: inline-block;
	font.size: 1.2rem;
	font-weight: bold;
	margin-right: 1ch;
}

nav > ul > li > a {
	text-decoration: none;
}

