/* Slatecave creations banner style*/

section.useclass-banner.decoration-banner-style-tetris {
	background-image: url("/assets/banner_slatecave-creations/tetris-dark.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (prefers-color-scheme: light) {
	section.useclass-banner.decoration-banner-style-tetris {
		background-image: url("/assets/banner_slatecave-creations/tetris.png");
	}
}
