/* RC3 2021 banner style*/

section.useclass-banner.decoration-banner-style-plasma-green-blue {
	background-image: url("/assets/banner_plasma/green_blue.jpg");
}

section.useclass-banner.decoration-banner-style-plasma-red-amber {
	background-image: url("/assets/banner_plasma/red_amber.jpg");
}

section.useclass-banner.decoration-banner-style-plasma-mostly-green {
	background-image: url("/assets/banner_plasma/mostly_green.jpg");
}

section.useclass-banner.decoration-banner-style-plasma-mostly-purple {
	background-image: url("/assets/banner_plasma/mostly_purple.jpg");
}

section.useclass-banner.decoration-banner-style-plasma-green-blue, section.useclass-banner.decoration-banner-style-plasma-red-amber, section.useclass-banner.decoration-banner-style-plasma-mostly-green, section.useclass-banner.decoration-banner-style-plasma-mostly-purple {
	background-color: #333;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

section.useclass-banner.decoration-banner-style-plasma-green-blue > p, section.useclass-banner.decoration-banner-style-plasma-red-amber > p, section.useclass-banner.decoration-banner-style-plasma-mostly-green > p, section.useclass-banner.decoration-banner-style-plasma-mostly-purple > p, section.useclass-banner.decoration-banner-style-plasma-green-blue > a, section.useclass-banner.decoration-banner-style-plasma-red-amber > a, section.useclass-banner.decoration-banner-style-plasma-mostly-green > a, section.useclass-banner.decoration-banner-style-plasma-mostly-purple > a {
	color: #ccc;
	text-shadow: 0 0 .2em #000;
}
